
.title_div{
    padding: 5px;
    border-bottom: 1px #cccccc solid;
}
.title_div .div_subject{
    float: left;
    width: 70%;
    font-size: smaller;
    height: 60px;
    display: block;
}
.title_div .div_time{
    font-size: smaller;
    height: 60px;
    display: block;
}

.blockquote-reverse
{
    float: right;
}

/*.container
{
    width: 750px;
}*/
.container .classListTitles
{
    /*border: 1px #cccccc solid;*/
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.container .classContent
{
    /*margin-left: 20px;
    border: 1px #cccccc solid;*/
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.margin_right_20
{
    margin-right: 20px;
}
.margin_20
{
    margin-bottom: 20px;
}
.margin_30
{
    margin-bottom: 30px;
}
.selected
{
    background-color: #428bca;
    color: white;
}
.floatleft_and_paddingtop10 {
    float: left;
    vertical-align: middle;
    padding-top: 10px;
}
.floatright_and_paddingtop10 {
    float: right;
    vertical-align: middle;
    padding-top: 10px;
}
.floatleft {
    float: left;
}